@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre_Semibold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.container {
    margin-top: -5rem;
    max-width: 350px;
}

#alerta {
    position: absolute;
    top: -8rem;
    width: 320px;
}

p.lead {
    line-height: 1.4;
}